.button:hover::before {
  transform: translateX(0);
}

.like-icon .contour {
  fill: black;
  transition: fill 0.01s linear;
}

.like-icon .core {
  transition: fill 0.3s linear;
  transition-delay: 0.03s;
}

.like-icon .main-body {
  transition: fill 0.3s linear;
  transition-delay: 0s;
}

.like-icon:hover .core {
  fill: black;
  transition-delay: 0s;
}

.like-icon:hover .main-body {
  fill: black;
  transition-delay: 0.05s;
}

.like-icon:active .main-body {
  fill: red;
  transition: fill 0.3s linear;
  transition-delay: 0.05s;
}

.like-icon:active .core {
  fill: red;
  transition: fill 0.3s linear;
}

.like-icon.is-liked .contour {
  fill: red;
  transition: fill 0.3s linear;
  transition-delay: 0.06s;
}

.like-icon.is-liked .main-body {
  fill: red;
  transition: fill 0.3s linear;
  transition-delay: 0.05s;
}

.like-icon.is-liked .core {
  fill: red;
  transition: fill 0.3s linear;
}

.like-icon.is-liked .sparks {
  fill: red;
  animation: opacity 0.3s 0.3s ease-in forwards;
}

.like-icon.is-liked .heart {
  animation: scale 0.3s 0.1s ease-in;
}

@keyframes opacity {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0;
  }
}

@keyframes scale {
  from {
    transform: scale(1) translate(0, 0);
  }
  to {
    transform: scale(1.25) translate(-10%, -10%);
  }
}
