/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

button:not(.card__icon-button):hover::before {
  transform: translateX(0);
}

.like-icon {
  transition: fill 0.3s 0.03s;
}

.like-icon .main-body,
.like-icon .core {
  transition: fill 0.3s;
}

.like-icon:hover .main-body,
.like-icon:hover .core {
  fill: black;
  transition: fill 0.3s 0.03s;
}

.like-icon:active .main-body,
.like-icon:active .core {
  fill: red;
}

.like-icon .main-body,
.like-icon .core {
  transition-delay: 0.03s;
}

.like-icon.is-liked .contour {
  fill: red;
}
.like-icon.is-liked .main-body {
  fill: red;
  transition: fill 0.3s;
}
.like-icon.is-liked .core {
  fill: red;
  transition: fill 0.5s;
}

.like-icon.is-liked .sparks {
  fill: red;
  animation: opacity 0.3s ease forwards;
}

@keyframes opacity {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0;
  }
}
